@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
h1{
    align-self: left;
    padding-left: 30px; 
}
h1, h2{
    display: inline;
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
}
nav{
    text-align: right;
}
nav, a{
    display: inline;
    text-decoration: none;
    color: black;
    float: right;
    padding-left: 15px;
    font-size: x-large;
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
}
    
