@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/serpentine');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
header h1{
    padding-left: 15px;
    font-size: 40px;
}
header h1, h2{
    color: rgb(211, 211, 211);
    display: inline;
    
    font-family: 'SERPENTINE', sans-serif;                          
}
h1 h2{
    font-size: 30px;
}
nav{
    text-align: right;
    display: inline;
}
nav a{
    font-size: x-large;
    display: inline;
    text-decoration: none;
    color: rgb(212, 212, 212);
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;

    font-family: 'SERPENTINE', sans-serif;                                               
}
a{
    text-decoration: none;
}
.header{
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: black;
    height: 35px;
    position: sticky;
    top: 0;
    z-index: 2;
}
html,body {
    padding:0;
    margin:0;
    background-color: black;
}
.section1{
    height: 200vh;
    box-sizing: border-box;
    background: linear-gradient( rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.5) ), url(https://preview.redd.it/i-started-making-a-series-of-cinematic-screenshots-what-v0-6pp33moo8lsb1.jpg?width=4960&format=pjpg&auto=webp&s=fba8c9c789c3b822593051986d075296cc76fdc2);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 99vw;
    height: 100vh;
}

